<!DOCTYPE html>
<html ng-app="ngAppHackathon">
<head>
<title>Test View</title>
<script type="text/javascript" src="assets/javascripts/angular-1.2.16/angular.js"></script>
<script type="text/javascript" src="assets/javascripts/underscore-1.6/underscore.js"></script>

<script type="text/javascript" src="assets/javascripts/hackathon.js"></script>

</head>

<body ng-controller="ngAppHackathonController">

<h1>Viewing Reduced Events</h1>

<button ng-click="getReducedEvents()">Get Events</button>

<table>
	<thead>
	<tr>
		<th>Date</th>
		<th>Source</th>
		<th>Target</th>
		<th>CAMEOCode</th>
		<th>Number of Events</th>
		<th>Number of Articles</th>
		<th>Quad Class</th>
		<th>Goldstein</th>
		<th>Positive</th>
		<th>Negative</th>
	</tr>
	</thead>
	<tbody ng-repeat="event in reducedEvents">
	
		<tr>
			<td>{{event.Date}}</td>
			<td>{{event.Source}}</td>
			<td>{{event.Target}}</td>
			<td>{{event.CAMEOCode}}</td>
			<td>{{event.NumEvents}}</td>
			<td>{{event.NumArts}}</td>
			<td>{{event.QuadClass}}</td>
			<td>{{event.Goldstein}}</td>
			<td><input type="checkbox" ng-checked="isPositiveEvent(event)" ng-click="addPositiveEvent(event)"/></td>
			<td><input type="checkbox" ng-checked="isNegativeEvent(event)" ng-click="addNegativeEvent(event)"/></td>
		</tr>
	</tbody>
</table>

<button ng-click="transmitTrainingSet()">Transmit Training Set</button>
	
</body>

</html>